<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div style="text-align: center;">
			
			<p>&copy 2022 QUREOS Lab. Site made from <a href="http://www.allanlab.org/">2016 Allan Lab.</a></p>
			<p>
				Construction Building (Building 401), Room 505, Pusan National University<br/>
				교수연구실 : 부산대학교 건설관 505호<br/>
				<span style="margin-left: 20px;">TEL : 051-510-2353</span>
				<span style="margin-left: 20px;">Email : wonkook@pusan.ac.kr</span>
			</p>
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
